/*! Nona - Simplified CSS Framework - 0.3.1 */
html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: #fefefe;
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: .01rem;
  line-height: 1.15;
}

html,
body {
  margin: 0 auto;
}

blockquote {
  margin: 0.8rem;
  padding: 0.8rem 1.0rem;
}

blockquote.blockquote-left {
  border-left: 0.2rem solid #39AF6B;
}

blockquote.blockquote-right {
  border-right: 0.2rem solid #39AF6B;
}

blockquote *:last-child {
  margin-bottom: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #39AF6B;
  border: 0.1rem solid;
  border-color: #39AF6B;
  color: #fefefe;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0.4rem 0.8rem;
  text-align: center;
  white-space: nowrap;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #6bc390;
  color: #fefefe;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: 0.4;
}

.button.button-round,
button.button-round,
input[type='button'].button-round,
input[type='reset'].button-round,
input[type='submit'].button-round {
  border-radius: 1rem;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: #39AF6B;
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: #39AF6B;
  color: #fefefe;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #39AF6B;
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  color: #6bc390;
}

code {
  background-color: #ecf0f1;
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem 0 0.2rem;
  white-space: nowrap;
}

pre {
  background-color: #ecf0f1;
  border-left: 0.2rem solid #39AF6B;
  overflow-y: hidden;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #ecf0f1;
  box-shadow: none;
  box-sizing: inherit;
  font-family: inherit;
  height: inherit;
  padding: 0.4rem 0.6rem;
  width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: #39AF6B;
  outline: 0;
}

input[type='email'].input-rounded,
input[type='number'].input-rounded,
input[type='password'].input-rounded,
input[type='search'].input-rounded,
input[type='tel'].input-rounded,
input[type='text'].input-rounded,
input[type='url'].input-rounded,
input[type='color'].input-rounded,
input[type='date'].input-rounded,
input[type='month'].input-rounded,
input[type='week'].input-rounded,
input[type='datetime'].input-rounded,
input[type='datetime-local'].input-rounded,
input:not([type]).input-rounded,
textarea.input-rounded,
select.input-rounded {
  border-radius: 1rem;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32"> <path fill="none" stroke="%23666" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 14l7 7 7-7"/> </svg>') center right no-repeat;
}

select:focus {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32"> <path fill="none" stroke="%23666" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 17h16"/> </svg>') center right no-repeat;
}

textarea {
  min-height: 5.2rem;
}

label,
legend {
  display: block;
  font-size: 1.0rem;
  font-weight: 400;
  margin: 0.4rem 0;
}

fieldset {
  border-width: 0;
  padding: 0.2rem;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  margin-left: 0.2rem;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 60%;
}

.container.fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row.mobile {
  flex-direction: column;
}

.row.content-start {
  justify-content: flex-start;
}

.row.content-end {
  justify-content: flex-end;
}

.row.content-center {
  justify-content: center;
}

.row.content-between {
  justify-content: space-between;
}

.row.content-around {
  justify-content: space-around;
}

.row.align-start {
  align-items: flex-start;
}

.row.align-end {
  align-items: flex-end;
}

.row.align-center {
  align-items: center;
}

.row.align-baseline {
  align-items: baseline;
}

.row.align-stretch {
  align-items: stretch;
}

.row .column {
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  padding: 0.2rem;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-100 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 36em) {
  .row.mobile {
    flex-direction: row;
  }
}

.hero {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.hero.hero-75 {
  height: 75vh;
}

hr {
  background-color: #ecf0f1;
  border: none;
  border-radius: 1rem;
  height: 0.1rem;
}

hr.hr-accent {
  background-color: #39AF6B;
  height: 0.4rem;
  width: 4rem;
}

a {
  color: #39AF6B;
  text-decoration: none;
}

a:focus, a:hover {
  color: #6bc390;
}

dl,
ol,
ul {
  margin-top: 0;
  padding-left: 1.2rem;
  padding-top: 0;
  line-height: 1.2rem;
}

dl dd,
ol dd,
ul dd {
  margin-left: 0.6rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

nav {
  padding: 0.2rem;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  display: flex;
  width: 100%;
}

.table-wrap {
  overflow-x: auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

th {
  background-color: #ecf0f1;
}

td,
th {
  border-bottom: 0.1rem solid #ecf0f1;
  padding: 1.0rem 1.4rem;
  text-align: left;
}

td:first-child,
th:first-child {
  padding-left: 0.4rem;
}

td:last-child,
th:last-child {
  padding-right: 0.4rem;
}

.table-accent th {
  color: #4d4d4d;
}

.table-accent td,
.table-accent th {
  border-color: #6bc390;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: -0.1rem;
  margin-bottom: 0.6rem;
  margin-top: 0;
}

h1 {
  font-size: 2.7rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.26;
}

h3 {
  font-size: 2.1rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.36;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.46;
}

.section-padding {
  padding: 4rem 0;
}

.text-accent {
  color: #39AF6B;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (max-width: 62rem) {
  .container {
    width: 72%;
  }
}

@media (max-width: 48rem) {
  .container {
    width: 84%;
  }
}

@media (max-width: 36rem) {
  .container {
    width: 96%;
  }
}

/*# sourceMappingURL=nona.css.map */