@media (max-width: 36.0em)
	html
		font-size: 14px

	.container
		width: 98%

@media (max-width: 48.0em)
	html
		font-size: 16px
	
	.container
		width: 92%
		
@media (max-width: 62.0em)
	html
		font-size: 18px

	.container
		width: 86%